.gallery-card1-gallery-card {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card1-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-card1-text {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.gallery-card1-text1 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
}






@media(max-width: 767px) {
  .gallery-card1-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .gallery-card1-image {
    height: 10rem;
  }
}

.anime-list-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.anime-list-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.anime-list-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.anime-list-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.anime-list-nav12 {
  transition: 0.3s;
}
.anime-list-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.anime-list-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.anime-list-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.anime-list-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.anime-list-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.anime-list-burger-menu {
  display: none;
}
.anime-list-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.anime-list-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.anime-list-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.anime-list-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.anime-list-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.anime-list-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.anime-list-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.anime-list-nav1 {
  margin-bottom: var(--dl-space-space-unit);
}
.anime-list-nav21 {
  margin-bottom: var(--dl-space-space-unit);
}
.anime-list-nav31 {
  margin-bottom: var(--dl-space-space-unit);
}
.anime-list-nav41 {
  margin-bottom: var(--dl-space-space-unit);
}
.anime-list-nav51 {
  margin-bottom: var(--dl-space-space-unit);
}
.anime-list-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.anime-list-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.anime-list-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.anime-list-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.anime-list-gallery {
  width: 100%;
  height: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  margin-bottom: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .anime-list-gallery {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .anime-list-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .anime-list-desktop-menu {
    display: none;
  }
  .anime-list-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .anime-list-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .anime-list-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .anime-list-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .anime-list-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .anime-list-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .anime-list-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .anime-list-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .anime-list-mobile-menu1 {
    padding: 16px;
  }
  .anime-list-gallery {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
